@inject PersistedGrantDbContext DbContext

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">
                <a asp-page="/ActiveSessions" asp-area="OpenIDConnect">@L["Active sessions"]</a>
            </div>
            
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-3 me-2">@DbContext.ServerSideSessions.Count()</div>
            <div class="me-auto">
                <span class="text-green d-inline-flex align-items-center lh-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use xlink:href="/lib/tabler-icons/tabler-sprite-nostroke.svg#tabler-trending-up"></use>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</div>