@{
    Layout = "Shared/_Layout";
}

@section Heads{
    @RenderSection("Heads", false)
}

<div class="page-body">
    <div class="container-xl">
        <h1>系统设置</h1>
        <nav class="nav">
            <a class="nav-link" asp-page="/Index">概要</a>
            <a class="nav-link" asp-page="/Security/Index">安全性</a>
            <a class="nav-link" asp-page="/DirectoryServices/Index">目录服务</a>
            <a class="nav-link" href="#">高级</a>
        </nav>
        <hr />
        @RenderBody()


    </div>
</div>


@section Scripts{
    @RenderSection("Scripts", false)
}