@{
    Layout = "Shared/_Layout";
}

@section Heads{
    @await RenderSectionAsync("Heads", false)
}

<div class="page-body">
    <div class="container-xl">
        <h1>System Settings</h1>
        <nav class="nav">
            <a class="nav-link" asp-page="/Index">Overview</a>
            <a class="nav-link" asp-page="/Security/Index">Security</a>
            <a class="nav-link" asp-page="/DirectoryServices/Index">Directory Services</a>
            <a class="nav-link" href="#">Advanced</a>
        </nav>
        <hr />
        @RenderBody()


    </div>
</div>


@section Scripts{
    @await RenderSectionAsync("Scripts", false)
}