@{
    Layout = "Shared/_Layout";
}

@section Heads{
    @RenderSection("Heads", false)
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">首页</a></li>
        <li class="breadcrumb-item"><a asp-page="/SystemSettings/Index">系统设置</a></li>
        @RenderSection("breadcrumb", false)
    </ol>
</nav>
<h1>系统设置</h1>
<nav class="nav">
    <a class="nav-link" asp-page="/Index">概要</a>
    <a class="nav-link" asp-page="/Security/Index">安全性</a>
    <a class="nav-link" asp-page="/DirectoryServices/Index">目录服务</a>
    <a class="nav-link" href="#">高级</a>
</nav>
<hr />
@RenderBody()


@section Scripts{
    @RenderSection("Scripts", false)
}