@page
@model IndexModel
@{
    ViewBag.Title = "System Settings";
}

@section PageHeader{
    <h1>@L["Overview"]</h1>
}

<p><a asp-page="/Security/Index">Security...</a></p>
<p><a asp-page="/DirectoryServices/Index">Directory services...</a></p>
<p><a asp-page="About">About...</a></p>