@page
@model ErrorModel
@{
    Layout = "Tabler/_Page_Center";
    ViewBag.Title = "Error!";
}

<div class="container container-tight py-4">
    <h1 class="text-danger">Error！:-(</h1>
    <h2 class="text-danger">Errors occurred when process requests.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <p>Contact administrator, or retry again later.</p>
    <a asp-page="/Index" asp-area="" class="btn btn-primary">Go home</a>
</div>