@page
@model ErrorModel
@{
    ViewData["Title"] = "出错了！";
}

<h1 class="text-danger">出错了！:-(</h1>
<h2 class="text-danger">处理请求期间发生了错误。</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>您可以与管理员联系，提供Request ID帮助排查问题，或稍等片刻再尝试访问。</p>