@page
@model IndexModel
@{
    ViewBag.Title = $"{Product.Value.Name} {L["Management center"].Value}";
}

@section PageHeader
{
    <h2>@L["Dashboard"]</h2>
}

<h3>Summary</h3>
<div class="row">
    <div class="col-3">
        <PeopleNavPanel></PeopleNavPanel>
    </div>
    <div class="col-3">
        <OrganizationNavPanel></OrganizationNavPanel>
    </div>
    <div class="col-3">
        <vc:oidc-nav-panel></vc:oidc-nav-panel>
    </div>
</div>

<h3>Activities</h3>
<div class="row row-cards">
    <div class="col-3">
        <partial name="Shared/_ActiveSessionCountPartial"/>
    </div>
</div>