@page
@using Microsoft.Extensions.Options;
@inject IWebHostEnvironment env
@model IndexModel
@{
    this.ViewBag.Title = $"{this.product.Value.Name} {localizer["Management Center"].Value}";
}

<div class="page-body">
    <div class="container-xl">
            <h1>@localizer["Dashboard"]</h1>

        <div class="row">
            <div class="col-3">
                <vc:people-nav-panel></vc:people-nav-panel>
            </div>
            <div class="col-3">
                <vc:organization-nav-panel></vc:organization-nav-panel>
            </div>
        </div>
    </div>
</div>

