@{
    Layout = "Shared/_Layout";
}

@section head {
    @await RenderSectionAsync("head", false)
}

@section Breadcrumb
{
    <li class="breadcrumb-item">
        <a asp-page="/Security/Index">@L["Security"]</a>
    </li>
    @await RenderSectionAsync("Breadcrumb", false)
}

@section PageHeader
{
    @await RenderSectionAsync("PageHeader", false)
}

@RenderBody()

@section PageComponents
{
    @await RenderSectionAsync("PageComponents", false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}