@page
@model CreateDirectoryAccountModel
@{
    ViewBag.Title = L["Create Directory Service Account"];
}

<h2>@L["Create Directory Service Account"]</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="Input.ServiceId" class="form-label"></label>
        <select asp-for="Input.ServiceId" class="form-control">
            @foreach (var service in Model.DirectoryServices)
            {
                <option value="@service.Id" label="@service.Name"></option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Input.SamAccountName" class="form-label"></label>
        <input asp-for="Input.SamAccountName" class="form-control" />
        <span asp-validation-for="Input.SamAccountName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.UpnPart" class="form-label"></label>
        <input asp-for="Input.UpnPart" class="form-control" />
        <span asp-validation-for="Input.UpnPart" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.EntryName" class="form-label"></label>
        <input asp-for="Input.EntryName" class="form-control" />
        <span asp-validation-for="Input.EntryName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Surname" class="form-label"></label>
        <input asp-for="Input.Surname" class="form-control" />
        <span asp-validation-for="Input.Surname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.GivenName" class="form-label"></label>
        <input asp-for="Input.GivenName" class="form-control" />
        <span asp-validation-for="Input.GivenName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.DisplayName" class="form-label"></label>
        <input asp-for="Input.DisplayName" class="form-control" />
        <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.PinyinSurname" class="form-label"></label>
        <input asp-for="Input.PinyinSurname" class="form-control" />
        <span asp-validation-for="Input.PinyinSurname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.PinyinGivenName" class="form-label"></label>
        <input asp-for="Input.PinyinGivenName" class="form-control" />
        <span asp-validation-for="Input.PinyinGivenName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.PinyinDisplayName" class="form-label"></label>
        <input asp-for="Input.PinyinDisplayName" class="form-control" />
        <span asp-validation-for="Input.PinyinDisplayName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Mobile" class="form-label"></label>
        <input asp-for="Input.Mobile" class="form-control" />
        <span asp-validation-for="Input.Mobile" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.NewPassword" class="form-label"></label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">@L["Create"]</button>

</form>