@page
@model ResetPasswordModel
@{
    ViewBag.Title = L["Reset password"];
}
<h2>@L["Reset password"]</h2>

@if (Model.OperationResult != null)
{
    <div class="alert alert-success" role="alert">
        @Model.OperationResult
    </div>
}

<form method="post">
    <h3>Auto reset password</h3>
    <p>For auto reset password, system will generate random password strings, send to user via mobile phone</p>
    <p>After reset password, user must change password by itself before login this account. User account will unlock when password resets.</p>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary" asp-route-anchor="@Model.Person.Id" asp-page-handler="AutoReset">Auto reset password</button>
</form>
<hr />
<form method="post">
    <h3>Reset password manually</h3>
    <div class="mb-3">
        <label asp-for="Input.NewPassword" class="form-label"></label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="Input.UserMustChangePasswordOnNextLogin" class="form-check-input" />
        <label asp-for="Input.UserMustChangePasswordOnNextLogin" class="form-check-label"></label>
    </div>
    <div class="form-check">
        <input asp-for="Input.UnlockUser" class="form-check-input" />
        <label asp-for="Input.UnlockUser" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="ManualReset">Reset local password</button>
</form>