@page
@model SetPasswordModel
@{
    ViewBag.Title = "Set Password";
}
<h2>Set Password</h2>

<p>Setting a password requires complexity requirements:</p>
<ul>
    <li>At least 8 characters</li>
    <li>Includes uppercase letters, lowercase letters, numbers, and special symbols</li>
    <li>There cannot be a full or partial overlap with the user name</li>
</ul>
<form method="post">
    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Set Password</button>
</form>