@page
@model IndexModel
@{
    ViewBag.Title = L["Real Name Validation Request"];
}
<h2>@L["Real Name Validation Request"]</h2>

<a asp-page="WithChineseIdCard" class="btn">@L["Start request with Chinese ID Card"]</a>