@model int

<div class="card">
    <div class="card-header">
        <a asp-area="Organizations" asp-page="/Index">Organizations</a>
    </div>
    <div class="card-body">
        <p>@(this.Model) Organizations</p>
    </div>
</div>