@model int

<div class="card">
    <div class="card-header">
        <a asp-area="Organizations" asp-page="/Index">组织</a>
    </div>
    <div class="card-body">
        <p>登记组织@(this.Model)个</p>
    </div>
</div>