@page
@model ContactsModel
@{
}

<h2>@L["Contacts"]</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="Input.PhoneNumber" class="form-label"></label>
        <input asp-for="Input.PhoneNumber" class="form-control" />
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">@L["Update"]</button>
    <p>@this.Model.OperationMessage</p>
</form>