@page
@model DeleteSuccessModel
@{
    this.ViewBag.Title = this.localizer["Delete Success"];
}

<h1>@ViewBag.Title</h1>
<p><a asp-page="/Subjects/Index" class="btn btn-primary">@localizer["OK"]</a></p>
