@page
@model             EditPersonNameModel
@{
    this.ViewBag.Title = "编辑姓名";
}
<h1>编辑姓名</h1>
<p>管理员可以编辑该自然人姓名信息，无论自然人是否通过实名认证。</p>
<form method="post">
    <div class="form-group">
        <label asp-for="Input.Surname"></label>
        <input asp-for="Input.Surname" class="form-control" />
        <span asp-validation-for="Input.Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.GivenName"></label>
        <input asp-for="Input.GivenName" class="form-control" />
        <span asp-validation-for="Input.GivenName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.PinyinSurname"></label>
        <input asp-for="Input.PinyinSurname" class="form-control" />
        <span asp-validation-for="Input.PinyinSurname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.PinyinGivenName"></label>
        <input asp-for="Input.PinyinGivenName" class="form-control" />
        <span asp-validation-for="Input.PinyinGivenName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">应用</button>
</form>