@page
@model AdminWebApp.Areas.People.Pages.Detail.PersonalInfoModel
@{
    ViewBag.Title = L["Personal info of {0}", Model.Person.PersonName.FullName];
}
@Html.DisplayFor(m => m.Result)
<h2>@ViewBag.Title</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="Input.DateOfBirth" class="form-label"></label>
        <input asp-for="Input.DateOfBirth" class="form-control" />
        <span asp-description-for="Input.DateOfBirth"></span>
        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Gender" class="form-label"></label>
        <select asp-for="Input.Gender" asp-items="EnumHelper.GetSelectListItems<Gender>()" class="form-select"></select>
        <span asp-description-for="Input.Gender"></span>
    </div>
    <button type="submit" class="btn btn-primary">@SL["Apply changes"]</button>
</form>