@page "{id}"
@model ResetPasswordModel
@{
    this.ViewData["Title"] = "重置本地密码";
}
<h2>重置本地密码</h2>

@if (this.Model.OperationResult != null)
{
    <div class="alert alert-success" role="alert">
        @this.Model.OperationResult
    </div>
}

<form method="post">
    <h3>自动重置密码</h3>
    <p>自动重置密码。这将随机生成一段初始密码，并通过短信将初始密码告诉用户。</p>
    <p>自动重置密码后，用户首次登录时必须修改密码才能使用。如果用户被锁定，将会为用户解锁。</p>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary" asp-route-id="@this.Model.Person.Id" asp-page-handler="AutoReset">自动重置密码</button>
</form>
<hr />
<form method="post">
    <h3>手动重置密码</h3>
    <div class="form-group">
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.UserMustChangePasswordOnNextLogin" class="form-check-input" />
        <label asp-for="Input.UserMustChangePasswordOnNextLogin" class="form-check-label"></label>
    </div>
    <div class="form-group">
        <input asp-for="Input.UnlockUser" class="form-check-input" />
        <label asp-for="Input.UnlockUser" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="ManualReset">重置本地密码</button>
</form>