@page
@model             SetPasswordModel
@{
    this.ViewData["Title"] = "设置密码";
}
<h2>设置密码</h2>

<p>密码需满足复杂度要求：</p>
<ul>
    <li>长度大于8位</li>
    <li>包括大写、小写字母、数字和特殊符号</li>
</ul>
<form method="post">
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Set Password</button>
</form>