@page "{id}"
@model AdminWebApp.Areas.OpenIDConnect.Pages.IdentityResources.Detail.DeleteModel
@{
}
<p>@SL["Are you sure you want to delete it?"]</p>
<p>@L["Type the resource name ({0}) to confirm.", Model.Data.Name]</p>
<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger">@SL["Delete"]</button>

</form>