@{
    Layout = "Tabler/_PageWrapper";
}

@section head
{
    @await RenderSectionAsync("head", false)
}

@section Header
{
    @* 导航条 *@
    <partial name="_DefaultTitleNavBarPartial"/>
    @await RenderSectionAsync("Header", false)
}

@section PageHeader
{
    <div class="container-xl">
        @await RenderSectionAsync("PageHeader", false)
    </div>
}

<div class="container container-narrow py-4">
    @RenderBody()
</div>

@section PageFooter
{
    @* 页脚 *@
    <partial name="_DefaultFooterPartial"/>
}

@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}