@using Duende.IdentityServer.Extensions
@inject IConfiguration config
@inject IOptions<ProductInfo> production
@{
    string? name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<nav class="navbar navbar-dark bg-dark">
    <a href="~/" class="navbar-brand">
        <img src="@this.production.Value.LogoImagePath" title="@this.production.Value.Name" class="icon-banner">
        @this.production.Value.Name
    </a>
    @if (this.User.Identity!.IsAuthenticated)
    {
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-page="/Account/Manage/Index">账户管理</a>
                    <a class="dropdown-item" asp-page="/Index" asp-area="Profile">个人中心</a>
                    <a class="dropdown-item" asp-page="/Account/Logout/Index">注销</a>
                </div>
            </li>
        </ul>
    }
    else
    {

    }

</nav>
