@page
@model NewModel
@{
    ViewBag.Title = L["New organization"];
}
<h2>@ViewBag.Title</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label required"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-description-for="Name"></span>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Domicile" class="form-label"></label>
        <input asp-for="Input.Domicile" class="form-control"/>
        <span asp-description-for="Input.Domicile"></span>
        <span asp-validation-for="Input.Domicile" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Representative" class="form-label"></label>
        <input asp-for="Input.Representative" class="form-control"/>
        <span asp-description-for="Input.Representative"></span>
        <span asp-validation-for="Input.Representative" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Title" class="form-label"></label>
        <input asp-for="Input.Title" class="form-control"/>
        <span asp-description-for="Input.Title"></span>
        <span asp-validation-for="Input.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Department" class="form-label"></label>
        <input asp-for="Input.Department" class="form-control"/>
        <span asp-description-for="Input.Department"></span>
        <span asp-validation-for="Input.Department" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Remark" class="form-label"></label>
        <input asp-for="Input.Remark" class="form-control"/>
        <span asp-description-for="Input.Remark"></span>
        <span asp-validation-for="Input.Remark" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn">@L["Create"]</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}