@page "{id}"
@model             CreateSecretModel
@{
    this.ViewBag.Title = "创建密钥";
}
<h1>Create Client Secret</h1>
<p>目前只支持创建SharedSecret类型。</p>
<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Secret" class="form-label"></label>
        <input asp-for="Input.Secret" class="form-control" />
        <span asp-validation-for="Input.Secret" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Expires" class="form-label"></label>
        <input asp-for="Input.Expires" class="form-control" />
        <span asp-validation-for="Input.Expires" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Description" class="form-label"></label>
        <input asp-for="Input.Description" class="form-control" />
        <span asp-validation-for="Input.Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>