@page
@model             CreateSecretModel
@{
    ViewBag.Title = L["Create client secret"];
}
<h1>@L["Create client secret"]</h1>
<p>@L["Support SharedSecret type only."]</p>
<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Secret" class="form-label"></label>
        <input asp-for="Input.Secret" class="form-control" />
        <span asp-validation-for="Input.Secret" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Expires" class="form-label"></label>
        <input asp-for="Input.Expires" class="form-control" />
        <span asp-validation-for="Input.Expires" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Description" class="form-label"></label>
        <input asp-for="Input.Description" class="form-control" />
        <span asp-validation-for="Input.Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@SL["Create"]</button>
</form>