@page
@model DeleteModel
@{
    ViewBag.Title = SL["Delete"];
}
<h3>@SL["Delete"]</h3>
<p>@L["The client will be permanently deleted. Please type the client name ({0}) to confirm.", Model.Data.ClientName]</p>
<form method="post">
    <div class="mb-3">
        <input asp-for="ClientName" class="form-control"/>
        <span asp-validation-for="ClientName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger">@SL["Delete"]</button>
</form>