@page "{id}"
@model             GrantTypesModel
@{
}
<h3>授权类型</h3>
<ul>
    @foreach (var grant in this.Model.Data.AllowedGrantTypes)
    {
        <li>@grant.GrantType</li>
    }
</ul>
<h3>Available grant types</h3>
<ul>
    <li>implicit</li>
    <li>hybrid</li>
    <li>authorization_code</li>
    <li>client_credentials</li>
    <li>password</li>
    <li>urn:ietf:params:oauth:grant-type:device_code</li>
</ul>