@page
@model GrantTypesModel
@{
}
<h3>Grant types</h3>

<form method="post">
    <ul class="list-group">
        @for (var i = 0; i < this.Model.AllowedGrantTypes.Count; i++)
        {
            <li class="list-group-item">
                <label asp-for="AllowedGrantTypes[i].Selected" class="form-check-label">
                    <input asp-for="AllowedGrantTypes[i].Selected" class="form-check-input">
                    <span>@this.Model.AllowedGrantTypes[i].Value (@this.Model.AllowedGrantTypes[i].Text)</span>
                    <input asp-for="AllowedGrantTypes[i].Text" type="hidden">
                    <input asp-for="AllowedGrantTypes[i].Value" type="hidden">
                </label>
            </li>
        }
    </ul>
    <div asp-validation-summary="All" class="text-danger"></div>
    <p class="text-warning">* Some grant type combined is conflicted, system will check conflic before apllying changes.</p>
    <button type="submit" class="btn btn-primary">Apply changes</button>
    <p>@this.Model.OperationMessage</p>
</form>
