@model Gender?

@if (Model.HasValue)
{
    switch (Model)
    {
        case Gender.Female:
            <span>@SL["Female"]</span>
            break;
        case Gender.Male:
            <span>@SL["Male"]</span>
            break;
        case Gender.Other:
            <span>@SL["Other"]</span>
            break;
    }
}
else
{
    <span>N/A</span>
}