@page "{id}"
@model DeleteModel
@{
}

<h3>Delete @Model.Data.Scheme</h3>
<p>Type Scheme name below to confirm deletion.</p>

<form method="post">
    <div class="mb-3">
        <input asp-for="SchemeName" class="form-control"/>
        <span asp-validation-for="SchemeName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>