@page
@model IndexModel
@{
    ViewBag.Title = L["Create new client"];
}
<h2>@ViewBag.Title</h2>
<p>Which client type will use?</p>
<div class="row row-cards row-deck">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>Public</h3>
                <p>Clients incapable of maintaining the confidentiality of their credentials (e.g., clients executing on the device used by the resource owner, such as an installed native application or a web browser-based application), and incapable of secure client authentication via any other means.</p>
                <p>The client cannot have any secrets.</p>
                <a asp-page="Public" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>Confidential</h3>
                <p>Clients capable of maintaining the confidentiality of their credentials (e.g., client implemented on a secure server with restricted access to the client credentials), or capable of secure client authentication using other means.</p>
                <p></p>
                <a asp-page="Confidential" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>Custom</h3>
                <p>Create client with advanced options.</p>
                <a asp-page="Custom" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
</div>