@page
@model AuthCenterWebApp.Areas.Organization.Pages.Settings.DeleteModel
@{
    ViewBag.Title = L["Delete organization"];
}
<h2>@L["Delete organization"]</h2>

<form method="post">
    <button type="submit" class="btn btn-danger">@SL["Delete"]</button>
</form>