@model MembershipVisibility
@switch (Model)
{
    case MembershipVisibility.Private:
        <span>@L["Private"]</span>
        break;
    case MembershipVisibility.AuthenticatedUser:
        <span>@L["Authenticated user"]</span>
        break;
    case MembershipVisibility.Public:
        <span>@L["Public"]</span>
        break;
}