@model Sex?

@if (Model.HasValue)
{
    switch (Model)
    {
        case Sex.Female:
            <span>女</span>
            break;
        case Sex.Male:
            <span>男</span>
            break;
        case Sex.Other:
            <span>其他</span>
            break;
    }
}
else
{
    <span>N/A</span>
}