@page "{id}"
@model DeleteModel
@{
}
<h3>@L["Delete"] @Model.Data.DisplayName</h3>
<p>@L["This resource will be permanently deleted. typing display name below to confirm."]（@Model.Data.DisplayName）</p>
<form method="post">
    <div class="mb-3">
        <input asp-for="ResourceName" class="form-control" />
        <span asp-validation-for="ResourceName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger">@L["Delete"]</button>
</form>