@page "{id}"
@model AdminWebApp.Areas.OpenIDConnect.Pages.ApiResources.Detail.NewSecretModel
@{
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Description" class="form-label"></label>
        <input asp-for="Input.Description" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.Description"></DescriptionForTagHelper>
        <span asp-validation-for="Input.Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Type" class="form-label"></label>
        <input asp-for="Input.Type" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.Type"></DescriptionForTagHelper>
        <span asp-validation-for="Input.Type" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Value" class="form-label"></label>
        <input asp-for="Input.Value" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.Value"></DescriptionForTagHelper>
        <span asp-validation-for="Input.Value" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Expires" class="form-label"></label>
        <input asp-for="Input.Expires" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.Expires"></DescriptionForTagHelper>
        <span asp-validation-for="Input.Expires" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>