@page
@model AuthCenterWebApp.Areas.Developer.Pages.IndexModel
@{
    this.ViewBag.Title = this.L["Developer Center"];
}

<div class="page-body">
    <div class="container-xl">
        <h1>@this.ViewBag.Title</h1>
        
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Geting started</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">什么是Alpha ID？</a></li>
                        <li class="list-group-item"><a href="#">Alpha ID 如何工作？</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Geting started</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">什么是Alpha ID？</a></li>
                        <li class="list-group-item"><a href="#">Alpha ID 如何工作？</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Geting started</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">什么是Alpha ID？</a></li>
                        <li class="list-group-item"><a href="#">Alpha ID 如何工作？</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>