@page
@model ChangeNameModel
@{
    ViewBag.Title = L["Change name"];
}

<h2>@ViewBag.Title</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="Input.CurrentName" class="form-label"></label>
        <input asp-for="Input.CurrentName" class="form-control" readonly/>
    </div>
    <div class="mb-3">
        <label asp-for="Input.NewName" class="form-label"></label>
        <input asp-for="Input.NewName" class="form-control"/>
        <span asp-validation-for="Input.NewName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.ChangeDate" class="form-label"></label>
        <input asp-for="Input.ChangeDate" class="form-control"/>
        <span asp-validation-for="Input.ChangeDate" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="Input.RecordUsedName" class="form-check-input"/>
        <label asp-for="Input.RecordUsedName" class="form-check-label"></label>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">@L["Change"]</button>
</form>