@page
@model DeleteSuccessModel
@{
    ViewBag.Title = L["Delete succeeded"];
    Layout = "Tabler/_Page";
}

<div class="container container-tight py-4">
    <h1>@ViewBag.Title</h1>
    <p>
        <a asp-page="../Index" class="btn btn-primary">@SL["OK"]</a>
    </p>
</div>
