@{
    Layout = "_Html";
}

@section head {
    <link rel="stylesheet" href="~/lib/tabler/dist/css/tabler.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @* ReSharper disable once Html.PathError *@
    <link rel="stylesheet" href="~/AuthCenterWebApp.styles.css" asp-append-version="true"/>
    @await RenderSectionAsync("head", false)
}

<div class="page page-center">
    @RenderBody()
</div>
@await RenderSectionAsync("PageComponents", false)

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/tabler/dist/js/tabler.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", false)
}
