@model OperationResult?

@if (Model != null)
{
    if (Model.IsSuccess)
    {
        <span class="alert alert-success">@localizer["Operation success"]</span>
    }
    else
    {
        <span class="alert alert-danger">@Model.Errors.Aggregate((x,y) => $"{x}, {y}")</span>
    }
}