@inject IOptions<IdentityOptions> IdentityOptions
<div>@L["The password must be at least {0} characters, including 3 of 4 types of characters: uppercase, lowercase, digits and special characters.", IdentityOptions.Value.Password.RequiredLength]</div>