@page
@model             DownloadPersonalDataModel
@{
    this.ViewBag.Title = this.localizer["Download Your Data"].Value;
}

<h3>@ViewBag.Title</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
