@page
@model MobileModel
@{
}
<h2>管理移动电话号码</h2>

@if(!string.IsNullOrEmpty(this.Model.OperationMessage))
{
    <div class="alert alert-info">
        @this.Model.OperationMessage
    </div>
}

<p>当前移动电话号码</p>
<div class="form-group">
    <label asp-for="Mobile"></label>
    <input asp-for="Mobile" class="form-control" disabled />
</div>


<form method="post">
    <div class="form-group">
        <label asp-for="NewMobile"></label>
        <input asp-for="NewMobile" class="form-control" />
        <span asp-validation-for="NewMobile" class="text-danger"></span>
    </div>
    <button class="btn btn-secondary" type="submit" asp-page-handler="SendVerificationCode" formnovalidate>发送验证码</button>
    @if(this.Model.VerificationCodeSent)
    {
        <span>验证码已发送</span>
    }
    <div class="form-group">
        <label asp-for="VerificationCode"></label>
        <input asp-for="VerificationCode" class="form-control" />
        <span asp-validation-for="VerificationCode" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="">修改移动电话</button>
</form>