@page
@model RemovePasswordModel
@{
    this.ViewBag.Title = this.localizer["Remove password"].Value;
}

<h3>@ViewBag.Title</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" autofocus />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-danger">@localizer["Remove password"]</button>
        </form>
    </div>
</div>
