@{
    this.Layout = "Shared/_Layout";
}

<div class="page-body">
    <div class="container-xl">
        @RenderBody()

    </div>
</div>

@section Scripts
    {
    @await RenderSectionAsync("Scripts", false)
}