@page
@model CreateModel
@{
    this.ViewBag.Title = localizer["Create person"];
}

<h2>Create person</h2>
<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Input.Surname" class="form-label"></label>
                <input asp-for="Input.Surname" class="form-control" />
                <span asp-description-for="Input.Surname"></span>
                <span asp-validation-for="Input.Surname" class="alert-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.GivenName" class="form-label"></label>
                <input asp-for="Input.GivenName" class="form-control" />
                <span asp-description-for="Input.GivenName"></span>
                <span class="alert-danger" asp-validation-for="Input.GivenName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.PhoneticSurname" class="form-label"></label>
                <input asp-for="Input.PhoneticSurname" class="form-control" />
                <span asp-description-for="Input.PhoneticSurname"></span>
                <span class="alert-danger" asp-validation-for="Input.PhoneticSurname"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.PhoneticGivenName" class="form-label"></label>
                <input asp-for="Input.PhoneticGivenName" class="form-control" />
                <span asp-description-for="Input.PhoneticGivenName"></span>
                <span class="alert-danger" asp-validation-for="Input.PhoneticGivenName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.DisplayName" class="form-label"></label>
                <input asp-for="Input.DisplayName" class="form-control" />
                <span asp-description-for="Input.DisplayName"></span>
                <span class="alert-danger" asp-validation-for="Input.DisplayName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.PhoneticDisplayName" class="form-label"></label>
                <input asp-for="Input.PhoneticDisplayName" class="form-control" />
                <span asp-description-for="Input.PhoneticDisplayName"></span>
                <span class="alert-danger" asp-validation-for="Input.PhoneticDisplayName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Sex" class="form-label"></label>
                <select asp-for="Input.Sex" class="form-control">
                    <option>Unselected</option>
                    <option value="Male" label="Male"></option>
                    <option value="Female" label="Female"></option>
                </select>
                <span asp-description-for="Input.Sex"></span>
                <span class="alert-danger" asp-validation-for="Input.Sex"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.DateOfBirth" class="form-label"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" />
                <span asp-description-for="Input.DateOfBirth"></span>
                <span class="alert-danger" asp-validation-for="Input.DateOfBirth"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Mobile" class="form-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-description-for="Mobile"></span>
                <span class="alert-danger" asp-validation-for="Mobile"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-description-for="Input.Email"></span>
                <span class="alert-danger" asp-validation-for="Input.Email"></span>
            </div>
            <div asp-validation-summary="All"></div>
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#Input_Surname").on("blur", function () {
            updateForms();
        })
        $("#Input_GivenName").on("blur", function () {
            updateForms();
        })

        function updateForms() {
            $("#Input_DisplayName").val($("#Input_Surname").val() + $("#Input_GivenName").val());
            $.get("@(this.Url.PageLink(pageHandler: "Pinyin"))", { surname: $("#Input_Surname").val(), givenName: $("#Input_GivenName").val() }, function (data, status, xhr) {
                $("#Input_PhoneticDisplayName").val(data);
            });
        }
    </script>
}