@page
@model IndexModel
@{
    this.ViewBag.Title = "登记自然人";
}

<h2>登记自然人</h2>
<p>请准备以下资料</p>
<ol>
    <li>姓名和拼音</li>
    <li>性别、出生年月</li>
    <li>移动电话号码</li>
    <li>备用电子邮件地址</li>
</ol>
<a asp-page="RegisterByChineseIDCard" class="btn btn-primary">通过身份证登记</a>
<a asp-page="Create" class="btn btn-secondary">手动登记</a>
