@page
@model             RegisterByChineseIDCardModel
@{
}
<h1>Register by Chinese ID Card</h1>

<form method="post" enctype="multipart/form-data">
    <div class="weui-form__control-area">
        <div class="weui-cells__group weui-cells__group_form">
            <div class="weui-cells weui-cells_form">

                <div class="weui-cell weui-cell_active">
                    <div class="weui-cell__hd"><label class="weui-label">上传身份证人像面</label></div>
                    <div class="weui-cell__bd">
                        <img id='imgPreview1' src='~/img/IDCard_front_sample.jpg' width=70% height='100%' />
                        <div class="upload" id="pic_front" style=""></div><input type="file" name="front" id="file1" onchange="PreviewImage('Preview',this,300,170);uploadHandler(event,'front');" />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active">
                    <div class="weui-cell__hd"><label class="weui-label">上传身份证国徽面</label></div>
                    <div class="weui-cell__bd" style="width: 100%;">
                        <img id='imgPreview2' src='~/img/IDCard_back_sample.jpg' width=70% height='100%' />
                        <div class="upload" id="pic_back" style=""></div><input type="file" name="back" id="file2" onchange="PreviewImage('Preview',this,300,170);uploadHandler(event,'back');" />
                    </div>
                </div>
            </div>
        </div>
        <input id="idcard_front" type="hidden" asp-for="@Model.IDCardFrontBase64" />
        <input id="idcard_back" type="hidden" asp-for="@Model.IDCardBackBase64" />
        <div class="form-group">
            <label asp-for="Mobile"></label>
            <input asp-for="Mobile" class="form-control" />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="weui-form__tips-area">
        <label id="weuiAgree" for="weuiAgreeCheckbox" class="weui-agree">
            <input id="weuiAgreeCheckbox" type="checkbox" disabled="disabled" checked="checked" class="weui-agree__checkbox" />
            <span class="weui-agree__text">
                已阅读并同意 <a href="javascript:" id="showIOSDialog2">《相关条款》</a>
            </span>
        </label>
    </div>
    <div class="weui-form__opr-area">
        <button class="weui-btn weui-btn_primary" type="submit" id="submitbind">提交</button>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        function uploadHandler(e, name) {
            var files = e.target.files || e.dataTransfer.files;

            if (files && files.length > 0) {
                var file = files[0];

                resizeImage(file).then(function (result) {
                    console.log(result);
                    if (name === "front") {
                        $('#idcard_front').val(result);
                    }
                    else {
                        $('#idcard_back').val(result);
                    }
                });
            }
        }
        /**
         * 压缩裁剪图片
         */
        function resizeImage(file) {
            return new Promise(function (resolve, reject) {
                var reader = new FileReader();

                reader.onload = function () {
                    var img = new Image();

                    img.onload = function () {
                        var w = this.naturalWidth;
                        var h = this.naturalHeight;
                        var maxW = 1536;
                        var maxH = 1536;

                        // 如果图片尺寸小于最大限制，则不压缩直接上传
                        if (w <= maxW && h <= maxH) {
                            var fileRead = new FileReader();
                            fileRead.readAsDataURL(file);
                            fileRead.onload = function (e) {
                                var base64 = e.target.result;
                                var arr = base64.split(",");
                                resolve(arr[1]);
                            }
                            return;
                        }

                        var level = 0.6;
                        var multiple = Math.max(w / maxW, h / maxH);
                        var resizeW = w / multiple;
                        var resizeH = h / multiple;
                        var canvas = document.createElement("canvas");
                        canvas.width = resizeW;
                        canvas.height = resizeH;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(img, 0, 0, resizeW, resizeH);
                        var base64Img = canvas.toDataURL(file.type, level);
                        // console.log("压缩后的图片大小：" + parseInt(base64Img.length-(base64Img.length/8)*2));
                        // console.log("压缩后的图片内容：" + base64Img)
                        var arr = base64Img.split(",");
                        resolve(arr[1]);
                    };

                    img.src = this.result;
                };
                reader.readAsDataURL(file);
            });
        }

        /**
         * 将图片的base64字符串转换为Blob对象

        function convertToBlob(base64Str, fileType) {
            console.log(base64Str);
            var base64 = window.atob(base64Str);
            var len = base64.length;
            var buff = new ArrayBuffer(len);
            var uarr = new Uint8Array(buff);

            for (var i = 0; i < len; i++) {
                uarr[i] = base64.charCodeAt(i);
            }

            var blob = null;

            try {
                blob = new Blob([buff], { type: fileType });
            } catch (e) {
                var BlobBuilder = window.BlobBuilder = (
                    window.BlobBuilder ||
                    window.WebKitBlobBuilder ||
                    window.MozBlobBuilder ||
                    window.MSBlobBuilder
                );

                if (e.name === "TypeError" && BlobBuilder) {
                    var builder = new BlobBuilder();
                    builder.append(buff);
                    blob = builder.getBlob(fileType);
                }
            }

            return blob;
        }

        function downloadFile(url, name = '123.jpg') {
            var a = document.createElement("a")
            a.setAttribute("href", url)
            a.setAttribute("download", name)
            a.setAttribute("target", "_blank")
            let clickEvent = document.createEvent("MouseEvents");
            clickEvent.initEvent("click", true, true);
            a.dispatchEvent(clickEvent);
        }
        */
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) {
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) {
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) {
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }

        function checkPic(upload) {
            var valid = $(upload).attr('id');
            var picPath = document.getElementById(valid).value;
            var type = picPath.substring(picPath.lastIndexOf(".") + 1, picPath.length).toLowerCase();
            if (type !== "jpg" && type !== "bmp" && type !== "gif" && type !== "png" && type !== "jpeg") {
                alert("请上传正确的图片格式");
                return false;
            }
            return true;
        }
        function PreviewImage(divImage, upload, width, height) {
            if (checkPic(upload)) {
                try {
                    var imgPath = getObjectURL(upload.files[0]);
                    var divid = $(upload).prev().attr('id');
                    if (divid === "pic_back") {
                        $('#imgPreview2').attr('src', imgPath);
                    }
                    else {
                        $('#imgPreview1').attr('src', imgPath);
                    }
                } catch (e) {
                    alert("无法预览图片");
                }
            }
        }
        $(function () {
            var $iosDialog2 = $('#iosDialog2');
            $('#dialogs').on('click', '.weui-dialog__btn', function () {
                $(this).parents('.js_dialog').fadeOut(200);
            });
            $('#showIOSDialog2').on('click', function () {
                $iosDialog2.fadeIn(200);
            });
        });
        var count = 10;
        var countdown = setInterval(CountDown, 1000);
        function CountDown() {
            $("#clauseOK").text("请阅读" + count + "秒");
            if (count == 0) {
                $('#clauseOK').removeClass();
                $('#clauseOK').attr('class', 'weui-dialog__btn weui-dialog__btn_primary');
                $("#clauseOK").text("已阅读并同意");
                clearInterval(countdown);
            }
            count--;
        }
    </script>
}
