@model IdSubjects.RealName.Requesting.ChineseIdCardRealNameRequest
<div class="row align-items-center">
    <div class="col-auto">
        <span class="badge"></span>
    </div>
    <div class="col-auto">
        <a href="#">
            <span class="avatar">JL</span>
        </a>
    </div>
    <div class="col text-truncate">
        <a href="#" class="text-reset d-block">
            <a asp-page="/Request/Index" asp-route-anchor="@Model.Id">@Model.Name</a>
        </a>
        <div class="d-block text-secondary text-truncate mt-n1">justify-content:between ⇒ justify-content:space-between (#29734)</div>
    </div>
    <div class="col-auto">
        <a href="#" class="list-group-item-actions">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon text-secondary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="/lib/tabler-icons/tabler-sprite-nostroke.svc:tabler-star"></use>
            </svg>
        </a>
    </div>
</div>