@page
@model AuthCenterWebApp.Areas.Settings.Pages.Profile.PersonNameModel
@{
    ViewBag.Title = L["Edit person name"];
}
<h2>@ViewBag.Title</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Surname" class="form-label"></label>
        <input asp-for="Input.Surname" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.Surname"></DescriptionForTagHelper>
        <span asp-validation-for="Input.Surname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.MiddleName" class="form-label"></label>
        <input asp-for="Input.MiddleName" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.MiddleName"></DescriptionForTagHelper>
        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.GivenName" class="form-label"></label>
        <input asp-for="Input.GivenName" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.GivenName"></DescriptionForTagHelper>
        <span asp-validation-for="Input.GivenName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.PhoneticSurname" class="form-label"></label>
        <input asp-for="Input.PhoneticSurname" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.PhoneticSurname"></DescriptionForTagHelper>
        <span asp-validation-for="Input.PhoneticSurname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.PhoneticGivenName" class="form-label"></label>
        <input asp-for="Input.PhoneticGivenName" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.PhoneticGivenName"></DescriptionForTagHelper>
        <span asp-validation-for="Input.PhoneticGivenName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.NickName" class="form-label"></label>
        <input asp-for="Input.NickName" class="form-control" />
        <DescriptionForTagHelper asp-description-for="Input.NickName"></DescriptionForTagHelper>
        <span asp-validation-for="Input.NickName" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn">@L["Apply changes"]</button>
</form>