@model IEnumerable<AlphaIdPlatform.Invitations.JoinOrganizationInvitation>
<ul>
    @foreach (var invitation in Model)
    {
        <li>@invitation.Inviter invite you join @invitation.OrganizationId</li>
    }
</ul>