@page
@model IndexModel
@{
    ViewBag.Title = $"{Product.Value.Name} API";
}
<h1>@ViewBag.Title</h1>
@* ReSharper disable once Html.PathError *@
<p>
    <a href="/docs" target="_blank">API Documentation</a>
</p>