@page
@model             IndexModel
@{
    this.ViewData["Title"] = "API资源";
}
<h3>API资源</h3>

<a asp-page="Create" class="btn btn-primary">创建API资源</a>

<table class="table">
    <thead>
        <tr>
            <td>名称</td>
            <td>资源ID</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var data in this.Model.Results)
        {
            <tr>
                <td><a asp-page="Detail/Index" asp-route-id="@data.Id">@data.DisplayName</a></td>
                <td><a asp-page="Detail/Index" asp-route-id="@data.Id">@data.Name</a></td>
            </tr>
        }
    </tbody>
</table>