@page
@model NewModel
@{
}
@section Breadcrumb{
    <li class="breadcrumb-item"><a asp-page="Index">@localizer["API Resources"]</a></li>
}
@section PageHeader{
<h1>Create API resource</h1>
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Name" class="form-label"></label>
        <input asp-for="Input.Name" class="form-control" />
        <span asp-description-for="Input.Name" class="form-hint"></span>
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.DisplayName" class="form-label"></label>
        <input asp-for="Input.DisplayName" class="form-control" />
        <span asp-description-for="Input.DisplayName" class="form-hint"></span>
        <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Description" class="form-label"></label>
        <input asp-for="Input.Description" class="form-control" />
        <span asp-description-for="Input.Description" class="form-hint"></span>
        <span asp-validation-for="Input.Description" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="Input.RequireResourceIndicator" class="form-check-input" />
        <label asp-for="Input.RequireResourceIndicator" class="form-check-label"></label>
        <span asp-description-for="Input.RequireResourceIndicator" class="form-check-description"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.AllowedAccessTokenSigningAlgorithms" class="form-label"></label>
        <input asp-for="Input.AllowedAccessTokenSigningAlgorithms" class="form-control" />
        <span asp-validation-for="Input.AllowedAccessTokenSigningAlgorithms" class="text-danger"></span>
    </div>

    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">创建</button>
</form>