@using AlphaIdPlatform.Subjects
@using Organizational
@inject IOrganizationStore Store

<div class="card">
    <div class="card-header">
        组织
    </div>
    <div class="card-body">
        <p>@Store.Organizations.Count() 个组织</p>
    </div>
</div>
@code {

}
