@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">欢迎</h1>
    <p>这是一个用来测试Alpha ID统一身份验证的Web应用。</p>
</div>

<a asp-page="/Identity/Index">查看我的身份信息</a>