@page
@model AuthCenterWebApp.Areas.Settings.Pages.Authentication.IndexModel
@{
    ViewBag.Title = L["Password and authentication"];
}

<h3>@L["Overview"]</h3>
<a asp-page="ChangePassword" class="btn">@L["Change password"]</a>
