@model int

<div class="card">
    <div class="card-header">
        <a asp-area="People" asp-page="/Index">Peoples</a>
    </div>
    <div class="card-body">
        <p>@(Model) Peoples</p>
    </div>
</div>