@page
@model SignInModel
@{
    this.ViewBag.Title = "绑定身份";
}

@Html.AntiForgeryToken()

<div class="page">
    <div class="weui-form">
        <div class="weui-form__text-area">
            <h2 class="weui-form__title">绑定Alpha ID</h2>
            <div class="weui-form__desc">验证手机号</div>
        </div>
        <form method="post">
            <div class="weui-form__control-area">
                <div class="weui-cells__group weui-cells__group_form">
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell weui-cell_active weui-cell_vcode">
                            <div class="weui-cell__hd"><label class="weui-label" asp-for="@Model.Form.Mobile">手机号</label></div>
                        </div>
                        <div class="weui-cell weui-cell_active weui-cell_vcode">
                            <div class="weui-cell__bd">
                                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入手机号" value="" asp-for="@Model.Form.Mobile" id="mobile" />
                            </div>
                        </div>
                        <div class="weui-cell weui-cell_active weui-cell_vcode">
                            <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
                        </div>
                        <div class="weui-cell weui-cell_active weui-cell_vcode">
                            <div class="weui-cell__bd">
                                <input autofocus class="weui-input" type="text" id="js_input" placeholder="输入验证码" maxlength="6" asp-for="@Model.Form.VerificationCode" />
                            </div>
                            <div class="weui-cell__ft">
                                <button class="weui-btn weui-btn_default weui-vcode-btn" type="button" onclick="SendVerificationCode(this)">获取验证码</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-form__tips-area">
                <label id="weuiAgree" for="weuiAgreeCheckbox" class="weui-agree">
                    <input id="weuiAgreeCheckbox" type="checkbox" class="weui-agree__checkbox" />
                    <span class="weui-agree__text">
                        阅读并同意 <a href="javascript:" id="showIOSDialog2">《相关条款》</a>
                    </span>
                </label>
            </div>
            <div class="weui-form__opr-area">
                <button class="weui-btn weui-btn_primary weui-btn_disabled" type="submit" id="showTooltips" disabled="disabled">确认</button>
            </div>
        </form>
    </div>
    <div id="js_toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">已完成</p>
        </div>
    </div>
    <div id="dialogs">
        <div class="js_dialog" id="send_vcode_success" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">验证码发送成功</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                </div>
            </div>
        </div>

        <div class="js_dialog" id="send_vcode_fail" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">验证码发送失败</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                </div>
            </div>
        </div>
        <div class="js_dialog" id="mobile_input_invalid" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">手机号输入有误</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                </div>
            </div>
        </div>
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" style="display:none">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title">注册协议</strong></div>
                <div class="weui-dialog__bd">
                    <div style="height:400px;">
                        = 内容 =<br />
                        DXDLW.COM是一个面对电线电缆行业专业性质和电缆人的综合技术交流网站。我们希望您能够在DXDLW上交流、学习、进步。
                        一、服务条款的确认和接纳
                        本网站的各项网络服务的所有权和运营权归《电线电缆专业网》所有。本网站依照本服务条款及不时发布的操作规则提供网络服务，此外，当服务使用者（以下称“用户”）使用本网站各项分类服务时，用户应当同意本服务条款的全部内容并遵守与该项服务相关的规则与要点。前述所有规则与要点均构成本服务条款的一部分。用户必须完全同意所有服务条款并完成注册程序，才能成为本网站的正式用户。
                        二、权利及义务
                        DXDLW的权利义务：
                        1、尊重会员隐私制度尊重会员个人隐私、保障会员隐私安全是DXDLW的一项基本政策，DXDLW不会公开、编辑或透露会员的注册资料，除非符合以下情况：
                        (1) 根据中华人民共和国国家安全机构、公安部门的要求及根据相应的法律程序要求。
                        (2) 维护DXDLW的商标所有权及其它权益。
                        (3) 在紧急情况下竭力维护会员个人、其它社会个体和社会大众的安全。
                        (4) 严重违反DXDLW有关规定。
                        DXDLW保留结束会员使用网络服务资格的权利，并保证结束会员资格后仍为会员保密所有个人隐私。
                        2、维护DXDLW网站的正常工作，提供网络服务。
                        3、会员管理
                        DXDLW对会员的管理依据国家法律、地方法律和国际法律等的标准，同时会员在网站上的行为将受DXDLW网站行为准则的约束。
                        4、对会员信息的存储和限制
                        DXDLW不对会员所发布信息的删除或储存失败负任何法律责任。 DXDLW有判定会员的行为是否符合DXDLW服务条款的要求和精神的保留权利，如果会员违背了服务条款的规定，DXDLW有权选择适当的处理方法直至取消会员资格的权利。
                        5、迅速处理会员投诉。
                        会员的权利义务：
                        1.会员必须遵循：
                        (1) 中国关于网络和BBS的相关法规。
                        (2) 使用网络服务不作非法用途。
                        (3) 不干扰或混乱网络服务。
                        (4) 遵守所有使用网络服务的网络协议、规定、程序和惯例。
                        同时会员承诺：
                        (1) 不传输任何反动的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽色情等非法的信息资料；
                        (2) 不传输任何教唆他人构成犯罪行为的资料；
                        (3) 不传输任何不符合当地法规、国家法律和国际法律的资料；
                        (4) 不传输任何带有木马和病毒等的程序或资料；
                        (5) 未经许可而非法进入其它电脑系统是禁止的；
                        (6) 本网站为技术性网站，不发表任何涉及政治帖子；
                        (7) 不发表任何可能存在有捏造或者歪曲事实，散布谣言，扰乱社会秩序的信息；
                        (8) 不发表故意泄露他人企业商业机密，或商业攻击、造谣等行为的信息；
                        (9) 法律规定的其他义务；
                        (10) 在网站讨论的时候接受DXDLW网站行为准则；
                        (11) 接受网管和版主对矛盾纠纷的调节，并配合相关行动决定，以行使投诉权力来解决纠纷。
                        若会员的行为不符合以上提到的服务条款，DXDLW将作出独立判断，并采用相关行动。会员需对自己在网上的行为承担法律责任。 会员若在DXDLW上散布和传播反动、色情或其他违反国家法律的信息，DXDLW将完全配合司法机关的行动。
                        2.基于网络服务的特性及重要性，会员同意：
                        (1) 提供详尽、准确的个人资料。（强烈建议使用正确的身份证号码）；
                        (2) 不得使用与党和国家领导人或其他名人的真实姓名、字号、艺名、笔名一致的账号作为昵称；
                        (3) 不断更新注册资料，符合及时、详尽、准确的要求；
                        (4) 自行负担个人上网所支付的与此服务有关的电话费用、 网络费用。
                        3.会员的帐号、密码和安全性
                        会员一旦注册成功，成为DXDLW的合法会员，将得到一个密码和会员名。会员对自己的帐号、密码和安全将负全部责任。
                        会员同意若发现任何非法使用该用户帐号或其它有损用户利益的情况，立即通告DXDLW。 DXDLW在收到正确的email或者用户身份证传真件核实后，可以对用户密码进行更改。用户亦可在输入正确的email地址，自己更改密码。
                        DXDLW建议会员定期更换密码，避免不必要的密码泄漏。另外，每个会员都要对以其会员名进行的所有活动和事件负全责。
                        4.会员发布宣传及广告信息
                        会员在他们发表的信息中加入宣传资料或参与广告策划、人才招聘等， 在DXDLW的免费服务上展示他们的产品，任何这类促销方法， 包括运输货物、付款、服务、商业条件、担保及与广告有关的描述都只是在相应的会员和广告销售商之间发生。 DXDLW不承担任何责任，DXDLW没有义务为这类广告销售负任何一部分的责任。会员需要对此承担全部责任。
                        5.会员同意保障和维护DXDLW全体会员的利益。
                        三、关于网络知识产权
                        (1) 会员对自己发表的文章拥有版权。
                        (2) DXDLW对所有发表在DXDLW的文章拥有使用权。
                        (3) 如果转载文章请注明作者和出处。
                        (4) 如果发生版权纠纷，DXDLW有权在纠纷解决前删除有纠纷的文章。
                        (5) 转载DXDLW的文章必须得到该文章作者或者DXDLW的授权，并标明作者和出处。
                        四、关于责任
                        DXDLW对任何直接、间接、偶然、特殊及继起的损害不负法律责任， 这些损害可能来自：他人的行为、会员间文件的交流、在网上进行交易，非法使用网络服务或用户传送的信息有所变动。 这些行为都有可能会导致DXDLW的形象受损，所以DXDLW事先提出这种损害的可能性。
                        五、服务条款的修改和服务修订
                        DXDLW有权在必要时修改服务条款，DXDLW服务条款一旦发生变动，将会在重要页面上提示修改内容。 如果不同意所改动的内容，会员可以在指定的讨论区中讨论、投诉或者申请取消网络服务，但是在修正前必须执行现行的服务条款。 DXDLW保留随时修改或中断服务而无需告知用户的权利。DXDLW行使修改或中断服务的权利，无需对用户或第三方负责。
                        六、通告
                        DXDLW所有发给会员的通告都可通过重要页面的公告或电子邮件。 服务条款的修改、服务变更、或其它重要事件的通告都会以此形式进行。
                        对于DXDLW的系统通告email用户必须接收，但是一般提供退订功能，对于不可以退定的email通告，用户有权投诉。
                        七、DXDLW的投诉处理
                        当DXDLW中出现与各种问题（包括版权纠纷、用户投诉等）的时候请将投诉内容发送到dxdlw@dxdlw.com中，并注明投诉，我们保证最迟不超过7个工作日回复。并可以在网站中发贴子（仅限一个贴子）投诉， 但我们不保证一定回复，投诉不得有到处张扬影响网站正常工作的行为，否则保留删除帖子的权力。 网站的投诉请参照网站用户行为准则。
                        八、法律管辖
                        网络服务条款要与中华人民共和国的法律解释相一致，会员和DXDLW一致同意服从中国法院管辖。 如发生DXDLW服务条款与中华人民共和国法律相抵触时，以法律为准，同时这些条款将完全按法律规定重新解释，而其它条款则依旧保持对会员产生法律效力和影响。
                        电线电缆专业网DXDLW.COM对以上条款有最终解释权。
                    </div>
                </div>
                <div class="weui-dialog__ft">
                    <a href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                </div>
            </div>
        </div>
        <!--END dialog2-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        var isadmitted = 0;

        $(function () {
            var $input = $('#js_input');
            $input.on('input', function () {
                var $value = $input.val();
                if ($value && isadmitted) {
                    $('#showTooltips').removeClass('weui-btn_disabled');
                    $("#showTooltips").removeAttr("disabled");
                } else {
                    $('#showTooltips').addClass('weui-btn_disabled');
                    $("#showTooltips").attr('disabled', 'disabled');
                }
            });
        });

        $("input[type='checkbox']").on('click', function () {
            var flag = $(this).is(':checked');
            var $input = $('#js_input');
            var $value = $input.val();
            if (flag) {
                isadmitted = 1;
                if ($value && isadmitted) {
                    $('#showTooltips').removeClass('weui-btn_disabled');
                    $("#showTooltips").removeAttr("disabled");
                } else {
                    $('#showTooltips').addClass('weui-btn_disabled');
                    $("#showTooltips").attr('disabled', 'disabled');
                }
            }
            else {
                isadmitted = 0;
                $('#showTooltips').addClass('weui-btn_disabled');
                $("#showTooltips").attr('disabled', 'disabled');
            }
        });
     

        var countdown = 60;
        function SendVerificationCode(obj) {
            var mobile = $("#mobile").val();
            var mobilereg = /^[1][3,4,5,7,8,9][0-9]{9}$/;
            var sendVcodeSuccess = $('#send_vcode_success');
            var sendVcodeFail = $('#send_vcode_fail');
            var mobileInputInvalid = $('#mobile_input_invalid');
            if (!mobilereg.test(mobile)) {
                mobileInputInvalid.fadeIn(200);
            } else {
                settime(obj);
                $.ajax({
                    method: 'post',
                    url: "?handler=SendVerificationCode",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    data: { mobile: mobile },
                    success: function (data) {
                        sendVcodeSuccess.fadeIn(200);
                    }, error: function (error) {
                        sendVcodeFail.fadeIn(200);
                    }
                })
            }
        }
        function settime(obj) {

            var code = $(obj);
            if (countdown == 0) {
                code.removeAttr('disabled');
                code.text("获取验证码");
                countdown = 60;
                return;
            } else {
                code.text("重新发送(" + countdown + ")");
                code.attr('disabled', true);
                countdown--;
            }
            setTimeout(function () {
                settime(obj)
            }, 1000);

        }

        function showclause() {
            var $iosDialog1 = $('#signinclause');
            $iosDialog1.fadeIn(200);
        }
        function closeclause() {
            var $iosDialog1 = $('#signinclause'), $dialog1 = $('#js_dialog_1');
            $iosDialog1.fadeOut(200);
            $dialog1.removeClass('weui-half-screen-dialog_show');
        }
        $(function () {
            var $dialog1 = $('#js_dialog_1'),
                $iosDialog1 = $('#iosDialog1');
            $('#clausedialogs').on('click', '.weui-mask', function () {
                $(this).parents('.js_dialog').fadeOut(200);
                $dialog1.removeClass('weui-half-screen-dialog_show');
            });
            var $iosDialog2 = $('#iosDialog2');
            $('#dialogs').on('click', '.weui-dialog__btn', function () {
                $(this).parents('.js_dialog').fadeOut(200);
            });
            $('#showIOSDialog2').on('click', function () {
                $iosDialog2.fadeIn(200);
            });
        });
    </script>
}
