<div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0">
@*                 <li class="list-inline-item">
                    <a href="~/docs/Developer/Start.md" class="link-secondary" target="_blank">@L["Developer center"]</a>
                </li> *@
            </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                    Copyright © 2023 @(Product.Value.Copyright)
                </li>
                <li class="list-inline-item">
                    <a href="~/docs/Terms.md" class="link-secondary">@L["Terms of Service"]</a>
                </li>
                <li class="list-inline-item">
                    <a href="~/docs/Privacy.md" class="link-secondary">@L["Privacy"]</a>
                </li>
            </ul>
        </div>
    </div>
</div>