@model OperationResult?

@if (Model != null)
{
    if (Model.IsSuccess)
    {
        <div class="alert alert-success">@localizer["Operation success"]</div>
    }
    else
    {
        <div class="alert alert-danger">@Model.Errors.Aggregate((x,y) => $"{x}, {y}")</div>
    }
}