@using Microsoft.AspNetCore.Localization
@inject IOptions<RequestLocalizationOptions> LocalizationOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocalizationOptions.Value.SupportedUICultures!
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<!-- @L["Request culture provider:"] @requestCulture?.Provider?.GetType().Name -->
<form id="selectLanguage" asp-page="/SetLanguage" asp-area="" asp-route-returnUrl="@Context.Request.Path" method="post" class="form-horizontal" role="form">
    @* <label asp-for="@requestCulture!.RequestCulture.UICulture.Name">@L["Language:"]</label> *@
    <select name="culture" onchange="this.form.submit();" asp-for="@requestCulture!.RequestCulture.UICulture.Name" asp-items="cultureItems" class="form-select form-select-sm">
    </select>
</form>