@page "{id}"
@model             ChangeNameModel
@{
    this.ViewBag.Title = "更改名称";
}

<h2>更名</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.CurrentName"></label>
        <input asp-for="Input.CurrentName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Input.NewName"></label>
        <input asp-for="Input.NewName" class="form-control" />
        <span asp-validation-for="Input.NewName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ChangeDate"></label>
        <input asp-for="Input.ChangeDate" class="form-control" />
        <span asp-validation-for="Input.ChangeDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.RecordUsedName" class="form-check-input" />
        <label asp-for="Input.RecordUsedName" class="form-check-label"></label>
    </div>
    <div class="form-group">
        <input asp-for="Input.ApplyChangeWhenNameDuplicated" class="form-check-input" />
        <label asp-for="Input.ApplyChangeWhenNameDuplicated" class="form-check-label"></label>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">变更</button>
</form>