@page "{id}"
@model EditModel
@{
    this.ViewBag.Title = $"编辑 {this.Model.Data.Name}";
}


<form method="post">
    <div class="mb-3">
        <label asp-for="Data.USCI" class="form-label"></label>
        <input asp-for="Data.USCI" class="form-control" disabled />
    </div>
    <div class="mb-3">
        <label asp-for="Data.Name" class="form-label"></label>
        <input asp-for="Data.Name" class="form-control" disabled />
    </div>
    <div class="mb-3">
        <label asp-for="Input.Domicile" class="form-label"></label>
        <input asp-for="Input.Domicile" class="form-control" />
        <span asp-validation-for="Input.Domicile"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Contact" class="form-label"></label>
        <input asp-for="Input.Contact" class="form-control" />
        <span asp-validation-for="Input.Contact"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.LegalPersonName" class="form-label"></label>
        <input asp-for="Input.LegalPersonName" class="form-control" />
        <span asp-validation-for="Input.LegalPersonName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.EstablishedAt" class="form-label"></label>
        <input asp-for="Input.EstablishedAt" class="form-control" />
        <span asp-validation-for="Input.EstablishedAt"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.TermBegin" class="form-label"></label>
        <input asp-for="Input.TermBegin" class="form-control" />
        <span asp-validation-for="Input.TermBegin"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.TermEnd" class="form-label"></label>
        <input asp-for="Input.TermEnd" class="form-control" />
        <span asp-validation-for="Input.TermEnd"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">保存</button>
    <a asp-page="Index" asp-route-id="@this.Model.Data.Id">取消</a>
</form>