@page "{id}"
@model             FinancialModel
@{
}
<partial name="_OrganizationSummary" model="@this.Model.Data" />

<h2>银行账户</h2>

<table class="table">
    <thead>
        <tr>
            <td>账名</td>
            <td>账号</td>
            <td>开户行</td>
            <td>用途</td>
            <td>首选</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var bankAccount in Model.Data.BankAccounts)
        {
            <tr>
                <td>@bankAccount.AccountName</td>
                <td>@bankAccount.AccountNumber</td>
                <td>@bankAccount.BankName</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        }
    </tbody>
</table>


<h2>开票信息</h2>