<form method="get" asp-page="/Search">
    <div class="input-group mb-3">
        <input type="text" name="q" class="form-control" placeholder="机构名称、统一社会信用代码等" aria-label="机构名称、统一社会信用代码等" aria-describedby="button-addon2" value="@this.Context.Request.Query["q"]" autocomplete="off">
        <button class="btn" type="submit" id="button-addon2">搜索</button>
    </div>
</form>