@model IdSubjects.RealName.Requesting.ChineseIdCardRealNameRequest
<div class="row align-items-center">
    <div class="col-auto"><span class="badge"></span></div>
    <div class="col-auto">
        <a href="#">
            <span class="avatar">JL</span>
        </a>
    </div>
    <div class="col text-truncate">
        <a href="#" class="text-reset d-block">身份证实名申请</a>
        <div class="d-block text-secondary text-truncate mt-n1">待审核</div>
    </div>
</div>
