@model IdSubjects.RealName.DocumentedRealNameAuthentication
<div class="row align-items-center">
    <div class="col-auto"><span class="badge"></span></div>
    <div class="col-auto">
        <a href="#">
            <span class="avatar">JL</span>
        </a>
    </div>
    <div class="col text-truncate">
        <a href="#" class="text-reset d-block">@Model.PersonName.FullName</a>
        <div class="d-block text-secondary text-truncate mt-n1">@Model.ValidatedAt</div>
    </div>
</div>
