@page
@model             ValidateChineseIDCardModel
@{
}
<h2>验证身份证</h2>

<div class="row">
    <div class="col-6">
        @if (Model.Data.ChineseIDCardImage != null)
        {
            <img src="data:@(Model.Data.ChineseIDCardImage.PersonalFaceMimeType);base64,@(Convert.ToBase64String(Model.Data.ChineseIDCardImage.PersonalFace))" class="img-flued img-thumbnail" />
        }
        <p>姓名：@Model.Data.ChineseIDCard?.Name</p>
        <p>性别：@Model.Data.ChineseIDCard?.Sex</p>
        <p>出生日期：@Model.Data.ChineseIDCard?.DateOfBirth</p>
        <p>民族：@Model.Data.ChineseIDCard?.Ethnicity</p>
        <p>住址：@Model.Data.ChineseIDCard?.Address</p>
        <p>身份证号码：@Model.Data.ChineseIDCard?.CardNumber</p>
    </div>
    <div class="col-6">
        @if (Model.Data.ChineseIDCardImage != null)
        {
            <img src="data:@(Model.Data.ChineseIDCardImage.IssuerFaceMimeType);base64,@(Convert.ToBase64String(Model.Data.ChineseIDCardImage.IssuerFace))" class="img-flued img-thumbnail" />
        }
        <p>签发机关：@Model.Data.ChineseIDCard?.Issuer</p>
        <p>签发日期：@Model.Data.ChineseIDCard?.IssueDate</p>
        <p>有效期至：@Model.Data.ChineseIDCard?.Expires</p>
    </div>
</div>

<form method="post">
    <div class="form-check">
        <input asp-for="Input.Accepted" class="form-check-input" />
        <label asp-for="Input.Accepted" class="form-check-label"></label>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Surname" class="form-label"></label>
        <input asp-for="Input.Surname" class="form-control" />
        <span asp-validation-for="Input.Surname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.GivenName" class="form-label"></label>
        <input asp-for="Input.GivenName" class="form-control" />
        <span asp-validation-for="Input.GivenName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.PinyinSurname" class="form-label"></label>
        <input asp-for="Input.PinyinSurname" class="form-control" />
        <span asp-validation-for="Input.PinyinSurname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.PinyinGivenName" class="form-label"></label>
        <input asp-for="Input.PinyinGivenName" class="form-control" />
        <span asp-validation-for="Input.PinyinGivenName" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>