@page
@model             DownloadPersonalDataModel
@{
    this.ViewBag.Title = this.L["Download Your Data"];
}

<h2>@ViewBag.Title</h2>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
