@using IdSubjects.RealName
@model IdSubjects.RealName.IdentityDocument
@if (Model is ChineseIdCardDocument chineseIdCardDocument)
{
    <partial name="_ChineseIdCardDocumentPartial" model="chineseIdCardDocument"/>
}
<h2>Attachments</h2>
<ul>
    @foreach (var attachment in Model.Attachments)
    {
        <li><a href="#">@attachment.Name</a></li>
    }
</ul>