@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@section head{
    @RenderSection("head", false)
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">组织</a></li>
        @RenderSection("breadcrumb", false)
    </ol>
</nav>
<partial name="_SearchInputPart" />


@RenderBody()

@section scripts{
    @RenderSection("scripts", false)
}
