@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@section Heads{
    @RenderSection("Heads", false)
}

<div class="page-body">
    <div class="container-xl">

        <partial name="_SearchInputPart" />


        @RenderBody()
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", false)
}
