@page
@model InviteModel
@{
}

@section head{
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui-1.13.2/jquery-ui.min.css"/>
}

<div class="container-xl">
    @Html.DisplayFor(m => m.Result)
    <h1>@L["Invitations"]</h1>

    <form method="post">
        <div class="mb-3">
            <input asp-for="Invitee" class="form-control"/>
        </div>
        <button type="submit" class="btn">@L["Invite"]</button>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/lib/jquery-ui/jquery-ui-1.13.2/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("[name='Invitee']").autocomplete({
                source: "@Url.Page("", "FindPerson")",
                minLength: 2,
                select: function (event, ui) {
                    $(this).val(ui.item.userName);
                    //$("[name='PersonId']").val(ui.item.subjectId);
                    //$("[name='Input.UserName']").val(ui.item.name);
                    //$("[name='Input.PhoneticSearchHint']").val(ui.item.phoneticSearchHint);

                    return false;
                }
            })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    var div = $("<div>");
                    div.append("<p>" + item.userName + "(" + item.name + ")</p>")
                    var li = $("<li>").append(div);
                    return li.appendTo(ul);
                };
        });

    </script>
}