@page
@model ContactsModel
@{
    ViewBag.Title = L["Contacts"];
}
@Html.DisplayFor(m => m.Result)
<h2>@L["Contacts"]</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <div class="input-group">
            <span class="input-group-text">+86</span>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
        <span asp-description-for="PhoneNumber"></span>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-description-for="Email" class="text-danger"></span>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">@L["Update"]</button>
</form>