@page
@model IndexModel
@{
}
<h2>Pending Real Name Validation List</h2>
<table class="table">
    <thead>
    <tr>
        <th>Current Name(Account)</th>
        <th>IDCard Name</th>
        <th>Card Number</th>
        <th>Commit Time</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>