@{
    Layout = "Tabler/_Page";
}
@section head
{
    @await RenderSectionAsync("head", false)
}
<div class="container container-tight py-4">
    @RenderBody()
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    @await RenderSectionAsync("Scripts", required: false)
}
