@{
    Layout = "Shared/_Layout";
}

@section head{
    @await RenderSectionAsync("head", false)
}

<div class="page-body">
    <div class="container-xl">
        @RenderBody()
    </div>
</div>

@section Scripts{
    @await RenderSectionAsync("Scripts", false)
}