@page
@model AuthCenterWebApp.Pages.Account.AccessDeniedModel
@{
    Layout = "Tabler/_Page_Center";
}
<div class="container container-tight py-4">
    <div class="text-center mb-4">
        <h1>@L["Access denied"]</h1>
        <p>@L["You do not have permission to access that resource."]</p>
    </div>
</div>
