@page
@model AccessDeniedModel
@{
    ViewBag.Title = L["Access denied"];
}
<div class="text-center mb-4">
    <h1>@ViewBag.Title</h1>
    <p>@L["You do not have permission to access that resource."]</p>
</div>