@page
@model AuthCenterWebApp.Pages.Account.AccessDeniedModel
@{
    this.Layout = "_AuthenticationLayout";
}
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <h1>@localizer["Access Denied"]</h1>
            <p>@localizer["You do not have permission to access that resource."]</p>
        </div>
    </div>
</div>