@page
@model AuthCenterWebApp.Pages.Account.ConfirmEmailChangeModel
@{
    ViewData["Title"] = "确认邮件地址变更";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
