@page
@model AuthCenterWebApp.Pages.Account.ConfirmEmailModel
@{

    this.ViewBag.Title = this.localizer["Confirm email"];
}

<h1>@ViewBag.Title</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
