@page
@model AuthCenterWebApp.Pages.Account.FindPasswordByEmailModel
@{
    this.ViewBag.Title = "通过邮箱重设密码";
}

<h2>请输入您注册账户时预留的电子邮件地址。</h2>
<p>如果注册时未提供邮箱，或预留的邮箱未经确认，则无法收取重设密码的邮件。请考虑其他形式来重设密码。</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">发送重置密码邮件</button>
        </form>
    </div>
</div>