@page
@model FindPasswordByEmailConfirmation
@{
    ViewBag.Title = L["Reset password email has been sent"];
}
<div class="card card-md">
    <div class="card-body">
        <h1>已发送重设密码邮件</h1>
        <p>
            已请求通过注册时预留邮箱重设密码，请检查您的邮件，并根据提示重设密码。
        </p>
    </div>
</div>
