@page
@model AuthCenterWebApp.Pages.Account.FindPasswordByMobileModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Mobile" class="form-label"></label>
                <input asp-for="Mobile" class="form-control" aria-required="true" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">发送重置密码短信验证</button>
        </form>
    </div>
</div>