@page
@model FindPasswordByEmailConfirmation
@{
    ViewBag.Title = L["Reset password email has been sent"];
}
<div class="text-center mb-4">
    <a asp-area="" asp-page="/Index" class="navbar-brand navbar-brand-autodark">
        <img src="/logo.png" width="32" height="32" alt="Tabler" class="navbar-brand-image">
        @Product.Value.Name @L["Account"]
    </a>
</div>
<div class="card card-md">
    <div class="card-body">
        <h1>已发送重设密码邮件</h1>
        <p>
            已请求通过注册时预留邮箱重设密码，请检查您的邮件，并根据提示重设密码。
        </p>
        <a asp-page="/Index" class="btn">@SL["Return"]</a>
    </div>
</div>
