@page
@model AuthCenterWebApp.Pages.Account.ForgetPasswordModel
@{
    this.ViewBag.Title = this.L["Forgot password?"];
}

<h2>@ViewBag.Title</h2>
<p>@L["Reset password via two ways:"]</p>
<p><a asp-page="FindPasswordByEmail">@L["Reset password via email"]</a></p>
<p><a asp-page="FindPasswordByMobile">@L["Reset password via short message"]</a></p>
