@page
@model AuthCenterWebApp.Pages.Account.ForgetPasswordModel
@{
    this.ViewBag.Title = this.localizer["Forgot password?"].Value;
}

<h2>@ViewBag.Title</h2>
<p>@localizer["Reset password via two ways:"]</p>
<p><a asp-page="FindPasswordByEmail">@localizer["Reset password via email"]</a></p>
<p><a asp-page="FindPasswordByMobile">@localizer["Reset password via short message"]</a></p>
