@page
@model AuthCenterWebApp.Pages.Account.ForgetPasswordModel
@{
}

<h2>忘记了密码？</h2>
<p>可选通过以下两种方式重设密码</p>
<p><a asp-page="FindPasswordByEmail">通过预留的邮箱重设密码</a></p>
<p><a asp-page="FindPasswordByMobile">通过短信验证码重设密码</a></p>
