@page
@model LockoutModel
@{
    ViewBag.Title = L["Locked out"];
    Layout = "Tabler/_Page_Center";
}
<div class="container container-tight py-4">
    <div class="text-center mb-4">
        <a asp-area="" asp-page="/Index" class="navbar-brand navbar-brand-autodark">
            <img src="/logo.png" width="32" height="32" alt="Tabler" class="navbar-brand-image">
            @Product.Value.Name @L["Account"]
        </a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <h2 class="text-danger">@ViewBag.Title</h2>
            <p class="text-danger">@L["Your account was locked out, please try again later."]</p>
        </div>
    </div>
</div>