@page
@model AuthCenterWebApp.Pages.Account.ResetPasswordConfirmationModel
@{
    this.ViewBag.Title = this.L["Reset password confirmation"];
}

<h1>@ViewBag.Title</h1>
<p>
    @L["Your password has been reset."] <a asp-page="/Index">@L["Go home."]</a>
</p>
