@page
@model ResetPasswordConfirmationModel
@{
    ViewBag.Title = L["Reset password confirmation"];
}

<h1>@ViewBag.Title</h1>
<p>
    @L["Your password has been reset."] <a asp-page="/Index">@L["Go home."]</a>
</p>