@page
@model AuthCenterWebApp.Pages.Account.ResetPasswordConfirmationModel
@{
    this.ViewBag.Title = this.localizer["Reset password confirmation"];
}

<h1>@ViewBag.Title</h1>
<p>
    @localizer["Your password has been reset."] <a asp-page="/Index">@localizer["Go home."]</a>
</p>
