@page
@using AlphaIdPlatform.Security
@model AuthCenterWebApp.Pages.Account.SignUpSuccessModel
@{
    ViewBag.Title = L["Register confirmation"];
}
<h1>@ViewBag.Title</h1>

<p><a href="@User.ProfileUrl()" class="btn btn-primary">@L["Continue"]</a></p>