@page
@model AuthCenterWebApp.Pages.Account.SignUpSuccessModel
@{
    this.ViewBag.Title = this.localizer["Register confirmation"];
}
<h1>@ViewBag.Title</h1>

<p><a href="@this.User.ProfileUrl()" class="btn btn-primary">@localizer["Continue"]</a></p>