@page
@model VerifyPhoneNumberModel
@{
    ViewBag.Title = L["Verify phone number"];
}
<div class="text-center mb-4">
    <a asp-area="" asp-page="/Index" class="navbar-brand navbar-brand-autodark">
        <img src="/logo.png" width="32" height="32" alt="Tabler" class="navbar-brand-image">
        @Product.Value.Name @SL["Account"]
    </a>
</div>
<div class="card card-md">
    <div class="card-body">
        <h2>@ViewBag.Title</h2>
        <form method="post">
            <div class="mb-3">
                <label asp-for="VerificationCode" class="form-label required"></label>
                <input asp-for="VerificationCode" class="form-control" autofocus autocomplete="off" />
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@SL["Verify"]</button>
        </form>
    </div>
</div>
