@page
@using AuthCenterWebApp.Pages.Account.Manage;
@model AuthCenterWebApp.Pages.Account.Manage.DownloadPersonalDataModel
@{
    ViewData["Title"] = "下载个人数据";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
