@page
@model IndexModel
@{
    this.ViewBag.Title = this.Model.Organization.Name;
}

<div class="page-header">
    <div class="container-xl">
        <h1>@Model.Organization.Name</h1>
        <p>@Model.Organization.Description</p>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <h2>Activities</h2>
        
    </div>
</div>
