@page "{p?}"
@model AuthCenterWebApp.Pages.Index
@inject IWebHostEnvironment env
@inject IConfiguration config
@inject IOptions<SystemUrlInfo> systemUrl
@{
}
<div class="page-body">
    <div class="container-xl">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5 text-center">
                <h1 class="display-5"><img src="~/logo.png" /></h1>
                <p>One account, serving anywhere.</p>
                @if (this.User.Identity!.IsAuthenticated)
                {
                    <p><a class="btn btn-primary" href="@User.ProfileUrl()">@L["My profile"]</a></p>
                }
                else
                {
                    <p><a class="btn btn-primary" asp-page="Account/Login">@L["Sign in"]</a></p>
                    <p><a class="btn btn-primary" asp-page="/Account/SignUp">@L["Create your {0}", Product.Value.Name]</a></p>
                }

            </div>
        </div>
    </div>
</div>