@page
@model AuthCenterWebApp.Pages.TermsModel
@{
    Layout = "Shared/_Layout_Narrow";
    ViewBag.Title = L["Terms of service"];
}
@section PageHeader
{
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">
                @ViewBag.Title
            </h2>
        </div>
    </div>
}
<div class="card">
    <div class="card-body">
        <markdown filename="~/_docs/Terms.md"></markdown>
    </div>
</div>

