@page
@model AccessDeniedModel
@{
    Layout = "Tabler/_Page_center";
    ViewBag.Title = "Access denied";
}

<h1>@ViewBag.Title</h1>
<p>You don't have permission to do this.</p>
<p>Close the browser, or sign out your account.</p>

<a asp-page="SignOut" class="btn btn-secondary">Sign out</a>