@page
@model SignedOutModel
@{
    this.ViewBag.Title = this.localizer["Signed out"].Value;
}

<div class="page-body">
    <div class="container-xl">
        <h1>@localizer["Signed out"]</h1>
        <p>@localizer["Close the browser or reenter this system."] <a asp-page="/Index">@localizer["Enter in"]</a></p>
    </div>
</div>
