@page
@model SignedOutModel
@{
    Layout = "Tabler/_Page_center";
    ViewBag.Title = L["Signed out"];
}

<div class="page-body">
    <div class="container-xl">
        <h1>@L["Signed out"]</h1>
        <p>
            @L["Close the browser or re-enter in this system."] <a asp-page="/Index">@L["Enter in"]</a>
        </p>
    </div>
</div>