@page
@model SignedOutModel
@{
    ViewBag.Title = L["Signed out"];
}

<div class="page-body">
    <div class="container-xl">
        <h1>@L["Signed out"]</h1>
        <p>@L["Close the browser or reenter this system."] <a asp-page="/Index">@L["Enter in"]</a></p>
    </div>
</div>
