@model IEnumerable<IdSubjects.DirectoryLogon.DirectoryAccount>

<table class="table">
    <thead>
    <tr>
        <th>LogonId</th>
        <th>Service</th>
        <th>UPN</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var account in Model)
    {
        <tr>
            <td>
                <a asp-page="/LogonAccount/Index" asp-route-PersonId="@account.UserId">@account.ObjectId</a>
            </td>
            <td>@account.DirectoryService.Name</td>
            <td></td>
        </tr>
    }
    </tbody>
</table>