@model Sex?

@if (Model.HasValue)
{
    switch (Model)
    {
        case Sex.Female:
            <span>@sl["Female"]</span>
            break;
        case Sex.Male:
            <span>@sl["Male"]</span>
            break;
        case Sex.Other:
            <span>@sl["Other"]</span>
            break;
    }
}
else
{
    <span>N/A</span>
}